{% block content %}
    <form name="Invoice" method="GET" action="{{ data.url }}">
        <input type="hidden" name="lang" value="{{ data.lang }}" />
        <input type="hidden" name="m_curorderid" value="{{ data.m_curorderid }}"/>
        <input type="hidden" name="m_historyid" value="{{ data.m_historyid }}"/>
        <input type="hidden" name="m_historytm" value="{{ data.m_historytm }}"/>
        <input type="hidden" name="referer" value="{{ data.referer }}"/>
        <input type="hidden" type="submit"/>
    </form>
{% endblock %}

{% block script %}
<script>
    window.onload = function() {
        document.forms['Invoice'].submit();
    }
</script>
{% endblock %}