{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form method=post>
            {{ form.csrf_token }}
            <label>{{ form.amount.label }}</label>
            {{ form.amount(class="form-control") }}
            <label>{{ form.currency.label }}</label>
            {{ form.currency(class="form-control")  }}
            <label>{{ form.description.label }}</label>
            {{ form.description(class="form-control")  }}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
{% endblock %}