{% block content %}
    <form name="Pay" method="post" action="{{ data.url }}" accept-charset="UTF-8">
        <input type="hidden" name="amount" value="{{ data.amount }}"/>
        <input type="hidden" name="currency" value="{{ data.currency }}"/>
        <input type="hidden" name="shop_id" value="{{ data.shop_id }}"/>
        <input type="hidden" name="sign" value="{{ data.sign }}"/>
        <input type="hidden" name="shop_order_id" value="{{ data.shop_order_id }}"/>
        <input type="hidden" name="description" value="{{ data.description }}"/>
        <input type="hidden" type="submit"/>
    </form>
{% endblock %}

{% block script %}
<script>
    window.onload = function() {
        document.forms['Pay'].submit();
    }
</script>
{% endblock %}